@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.light {
    --color-1: #FFFFFF;
    --color-2: #2FA8FF;
    --color-3: #D3D3D3;
    --color-4: #636363;
    --color-5: #EEEEEE;
    --color-6: #ff5b5b;
    --color-7: #000000;
}

.dark {
    --color-1: #1C2131;
    --color-2: #2FA8FF;
    --color-3: #383838;
    --color-4: #949494;
    --color-5: #252836;
    --color-6: #ff5b5b;
    --color-7: #dddddd;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }
